.input {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid black;
  background-color: white;
  max-height: 30%;
}

.emoji {
  padding: 1em;
  border-right: 1px solid #bbb;
}

.content_editable {
  flex: 1 0 0;
  font-size: 1.2em;
  height: 100%;
  overflow-y: auto;
  word-wrap: break-word;
  word-break: break-all;
  padding: 1em;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #aaa;
}

.content_editable:focus {
  outline: 0;
}

.sendButton {
  color: #fff !important;
  text-decoration: none;
  background: #350d36;
  padding: 20px;
  display: inline-block;
  border: none;
}

.form {
  display: flex;
  align-items: center;
  margin-left: 1%;
}