body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: row;
    border-top: 3px double #bbb;
    margin: 1em 1em;
}

.nav {
    flex: 0 1 0;
    border-right: 3px double #bbb;
    display: flex;
    flex-direction: column;
}

.charts {
    flex: 1 1 auto;
}

/* @media (max-width: 770px) {
    .chart {
        margin: 0 0 !important;
    }
} */