html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

.app_body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.app_header {
    background-color: #350d36;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 2%;
}

.grid_container {
    flex-grow: 1;
    display: grid; 
    grid-template-areas: "nav  main"
                         "nav  infobar"
                         "nav  foot";
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr 2em 3em;
    /* grid-auto-rows: minmax(20px, auto); */
    overflow-y: auto;
}

.grid_item_nav {
    /* grid-column: span 1;
    grid-row: span 3; */
    grid-area: nav;
    border-right: 1px solid black;
    overflow: auto;
    padding: 2em;
}

.grid_item_content {
    /* grid-column: span 1;
    grid-row: span 1; */
    grid-area: main;
    overflow-y: auto;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid_item_infobar {
    /* grid-column: span 1;
    grid-row: span 1; */
    grid-area: infobar;
    padding-left: 2em;
    color: grey;
}

.grid_item_footer {
    /* grid-column: span 1;
    grid-row: span 1; */
    grid-area: foot;
    padding: 1em;
    text-align: center;
}

/* @media (max-width: 770px) {
    .grid_item_header {
        width: 100%;
    }
} */