.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.chart {
    justify-content: center;
    border-bottom: 3px dashed #bbb;
}
 
/* @media only screen and (max-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
} */